@*
    ====================================
    Version: 4.5.0.0. Modified: 20170315
    ====================================
*@
@using EPiServer.Forms.Core
@using EPiServer.Forms.EditView
@using EPiServer.Forms.Implementation.Elements
@model FormStepBlock

@{
    var extraCSSClass = Model is IViewModeInvisibleElement ? ConstantsFormsUI.CSS_InvisibleElement : string.Empty;

    if (EPiServer.Editor.PageEditing.PageIsInEditMode)
    {
        <section class="Form__Element FormStep Form__Element--NonData @extraCSSClass" data-f-element-nondata>
            <h3 class="FormStep__Title  ">@Model.EditViewFriendlyTitle</h3>
            <aside class="FormStep__Description">@Model.Description</aside>
        </section>
    }
    else
    {
        <h3 class="FormStep__Title">@Model.Label</h3>
        <aside class="FormStep__Description">@Model.Description</aside>
    }
}
