@*
    ====================================
    Version: 4.19.0.0 Modified: 20181010
    ====================================
*@
@using EPiServer.Forms.Core
@using EPiServer.Forms.EditView
@using EPiServer.Forms.Implementation.Elements
@model PredefinedHiddenElementBlock

@{
    var isViewModeInvisibleElement = Model is IViewModeInvisibleElement;
    var extraCSSClass = isViewModeInvisibleElement ? ConstantsFormsUI.CSS_InvisibleElement : string.Empty;
    var formElement = Model.FormElement;

    if (EPiServer.Editor.PageEditing.PageIsInEditMode)
    {
        <span class="Form__Element FormHidden @extraCSSClass ">@Model.EditViewFriendlyTitle</span>
    }
    else
    {
        <input name="@formElement.ElementName" id="@formElement.Guid" type="hidden"
               value="@Model.GetDefaultValue()"
               class="Form__Element FormHidden FormHideInSummarized" @Model.AttributesString data-f-type="hidden"/>
    }
}
