@*
    ====================================
    Version: 4.5.0.0. Modified: 20170321
    ====================================
*@
@using EPiServer.Forms.Helpers.Internal
@using EPiServer.Forms.Implementation.Elements
@model TextareaElementBlock

@{
    var formElement = Model.FormElement;
    var labelText = Model.Label;
}

@using (Html.BeginElement(Model, new {@class = "FormTextbox FormTextbox--Textarea" + Model.GetValidationCssClasses(), data_f_type = "textbox", data_f_modifier = "textarea"}))
{
    <label for="@formElement.Guid" class="Form__Element__Caption">@labelText</label>
    <textarea name="@formElement.ElementName" id="@formElement.Guid" class="FormTextbox__Input"
        placeholder="@Model.PlaceHolder" data-f-label="@labelText" data-f-datainput
        @Model.AttributesString >@Model.GetDefaultValue()</textarea>
    @Html.ValidationMessageFor(Model)
}
